@model EkaNetAppWeb.Models.PaymentInfoModel


<form>
    <input type="text" name="Amount" placeholder="Amount"/>
    <input type="text" name="TitlePayment" placeholder="TitlePayment" />
    <input type="text" name="PaymentDescription" placeholder="PaymentDescription" />
    <input type="text" name="Event" placeholder="Event" />
    <input type="checkbox"  name="PaymentByBankTransfer" />
    <button> Kliknij Mnie</button>
</form>