
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPanel</title>
</head>
<body>
    <div> 
        @Html.Action("GetLastPayments","User")
        <div style="height:100px; background-color:red"></div>
        @Html.Action("GetLastFivePayments", "User")
    </div>
</body>
</html>
